.area7 > .circle {
    background: radial-gradient(circle, rgba(216, 128, 28, 0.8) 40%, rgba(247, 182, 108, 0.05) 70%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 40px;
    position: absolute;
    z-index: -10;
    right: 550px;
    bottom: 1100px;
    animation: area7_circle 2s ease-in-out forwards;
}

@keyframes area7_circle {
    0% {
        right: 550px;
        bottom: 1100px;
    }
    100% {
        width: 400px;
        height: 400px;
        bottom: 100px;
        right: -300px;
        padding: 100px;
    }
}

.area7 > .circle > img {
    width: 100%;
}
